* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
}

.sub_heading {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.sub_heading_text {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #666666;
  margin-bottom: 32px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*  */

.topbar {
  height: 68px;
  font-size: 10px;
  display: flex;
  justify-content: start;
}

.inner_topbar {
  width: 300px;
  display: grid;
  justify-content: start;
}

.inner_topbar #contact {
  display: grid;
  gap: 0;
  padding-top: 10px;
  padding-left: 25px;
}

.inner_topbar #auth {
  left: 80%;
  padding-top: 10px;
}

/* banner start */
.carousel-inner {
  height: calc(100vh - 68px);
}

.top_menu {
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.menu_logo {
  width: 75%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  /* padding-left: 18%; */

  margin-top: -50px;
}
/* .navbar-toggler {
  margin-left: 85%;
  padding: 30px;
}

.top_menu .offcanvas.offcanvas-end {
  width: 40%;
  color: red;
}

.menu_logo .navbar-nav {
  gap: 17px;
  margin-left: -5px;
  padding-top: 7px;
}

.menu_logo .navbar-nav a {
  font-size: 10px;
} */

/*  */
.hamburger {
  display: block;
  margin-left: 85%;
  z-index: 2;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
  position: fixed;

  left: -180%;
  top: 70px;
  gap: 0;
  /* flex-direction: column; */
  background-color: #262626;
  width: 280px;
  height: 400px;
  text-align: center;

  transition: 0.3s;
  z-index: 1;
}
.nav-item {
  margin: 12px;
}

.nav-menu.active {
  left: 0;
}

/*  */

/*  */

.menu_logo img {
  width: 60px;
  height: 45px;
}

.sticky {
  height: 60px;
}

.sticky .menu_logo {
  width: 100%;
  margin-top: 5px;
  margin-left: 12px;
}

.sticky .menu_logo img {
  width: 60px;
  height: 45px;
  margin-top: -10px;
}
.sticky .menu {
  margin-top: -10px;
}

.sticky .hamburger {
  /* width: 148px;
  height: 55px; */
  margin-top: 1px;
  /* padding: 50px; */
}

.sticky .bar {
  background-color: black;
}

.banner .carousel-inner .left_title {
  width: 62%;
  height: 168px;
  top: 20vh;
  font-size: 10px;
}

.left_title :first-child {
  font-size: 16px;
}

.left_title h1 {
  font-size: 24px;
}
.left_title :nth-child(3) {
  font-size: 12px;
  color: #f3f3f3;
  opacity: 0.8;
}

.left_title :nth-child(4) {
  font-size: 12px;
  color: #f7f7f7;
}

.socio_ico {
  top: 75vh;
  display: flex;
  gap: 10px;
}

.socio_ico i {
  height: 15px;
  width: 15px;
}

i#fb:before {
  width: 50px;
  left: -20px;
}

#first_slide .imac_pc {
  width: 44%;
  height: 55vh;
  top: 110px;
  display: none;
}

#second_slide .imac_phone {
  width: 26.16%;
  height: 55vh;
  top: 100px;
  display: none;
}

#third_slide .imac_girl {
  width: 21.14%;
  height: 55vh;
  top: 100px;
  display: none;
}
#fourth_slide .imac_phone {
  width: 21.14%;
  height: 55vh;
  top: 100px;
  display: none;
}

.carousel-indicators {
  top: calc(100vh - 90px);
  height: 50px;
}

/* platform 1 start */
.platform_one {
  height: 1750px;
  padding-top: 35px;
}

.platform_one_allcards {
  width: 90%;
  margin-left: 12px;
  display: grid;
  justify-content: center;
  gap: 15px;
}

.platform_one_allcards .platform_one_card {
  width: 260px;
  height: 380px;
}

.platform_one_card .circle_logo {
  width: 75px;
  left: 84px;
  top: 47px;
}

.platform_one_card .innner_logo {
  position: absolute;
  left: 103px;
  top: 67px;
}

.platform_one_card .platform_one_info {
  top: 154px;
}

.platform_one_card h3 {
  font-size: 24px;
  margin-bottom: 22px;
}

.platform_one_card p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* start of auto video */

.auto_video {
  height: 800px;
}

.content_auto_video {
  width: 90%;
  height: 830px;
  margin-left: 12px;
  display: grid;
}

.auto_left {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.auto_left b {
  font-size: 12px;
}

.auto_left h1 {
  font-size: 30px;
  padding-bottom: 17px;
}

.auto_left p {
  font-size: small;
  padding-bottom: 30px;
  text-align: justify;
}

.auto_right img {
  max-width: 100%;
  /* height: 350px; */
  height: auto;
  padding-left: 12px;
}

/* start of platform 2 */

.platform_two {
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  padding-top: 38px;
}

.platform_two_cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.platform_two_card {
  width: 90%;
  height: 300px;
}

.E_pink {
  margin-top: 35px;
}

.E_white {
  margin-top: 30px;
}

.E_app {
  margin-top: 44px;
}

.platform_two .platform_two_card h3 {
  font-size: 22px;
  margin-top: 105px;
}

.platform_two .platform_two_card p {
  font-size: 14px;
  padding: 15px;
  text-align: center;
}
#demo_title {
  padding-top: 48px;
}
/* start of contact form */

.contact_form {
  height: 575px;
  align-items: center;
}

.contact_form img {
  width: 100%;
  height: 575px;
  padding-left: 138px;
}

.contact_form form {
  width: 90%;
  height: 500px;
  margin-top: 57px;
  margin-left: 5%;
  background: #fff;
}

.contact_form form .form_input {
  height: fit-content;
  margin-top: 30px;
  display: grid;
  gap: 20px;
}

.contact_form form input {
  height: 40px;
  width: 270px;
  background: #f1f1f1;
  border-radius: 12px;
}
/* start of contact address */

.contact_address {
  height: fit-content;
  padding-bottom: 20px;
}

.contact_address .inner_contact_card .contact_address_card h1 {
  font-size: 20px;
}

.inner_contact_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 10px;
  align-items: center;
}

.contact_address_card {
  width: 85%;
  height: 120px;
  margin-top: 50px;
}

.contact_address_card h1 {
  font-size: 18px;
}

.contact_address .contact_address_card p {
  font-size: 12px;
}
/* start of footer */
.footer_section {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.footer_section .inner_footer_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_section h1 {
  font-size: 16px;
  text-align: center;

  padding-top: 8px;
  padding-bottom: 5px;
}

.footer_section p {
  font-size: 10px;
  text-align: center;
}

.footer_section .inner_footer_section #about_us i {
  width: 40px;
}

.footer_section .inner_footer_section #about_us {
  width: 90%;
  text-align: center;
  margin-left: 20px;
}

.footer_section .inner_footer_section #servicing {
  width: 90%;
}

.footer_section .inner_footer_section #contact_with {
  width: 90%;
}
.bottombar {
  font-size: 10px;
  padding-left: 12px;
}
