.inner_topbar #auth {
  left: 95%;
  padding-top: 10px;
}

.banner .carousel-inner .left_title {
  width: 65%;
  top: 12vh;
  font-size: 10px;
}

.socio_ico {
  top: 82vh;
  left: 40%;
}
#first_slide .imac_pc {
  width: 62%;
  height: 34vh;
  top: 47vh;
  left: 18%;
  display: block;
}

#second_slide .imac_phone {
  top: 42vh;
  display: block;
  width: 40%;
  height: 38vh;
  left: 24%;
}

#third_slide .imac_girl {
  width: 42%;
  height: 38vh;
  left: 26%;
  top: 42vh;
  display: block;
}

#fourth_slide .imac_phone {
  width: 40%;
  height: 38vh;
  left: 24%;
  top: 42vh;
  display: block;
}
