.topbar {
  height: 48px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.topbar .inner_topbar {
  width: 90%;
}

/*  */
.top_menu {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_logo {
  width: 80%;
  height: 100px;
  display: flex;
}

.menu_logo .menu {
  width: 58%;
}
/*  */
.carousel-inner {
  height: calc(100vh - 48px);
}
.top_menu .menu_logo img {
  width: 90px;
  height: 55px;
  margin-top: 20px;
}

.banner .carousel-inner .left_title {
  width: 34%;
  height: calc(100vh - 383px);
  left: 12%;
  top: 196px;
  font-size: 18px;
}
.socio_ico {
  left: 13.3%;
  top: calc(100vh - 104px);
}
/*  */

#first_slide .imac_pc {
  width: 34%;
  height: 50vh;
  left: 60%;
  top: 226px;
}

#second_slide .imac_phone {
  width: 23%;
  height: 442px;
  left: 60%;
  top: 120px;
}

#third_slide .imac_girl {
  width: 23%;
  height: 417px;
  left: 60%;
  top: 150px;
}

#fourth_slide .imac_phone {
  width: 23%;
  height: 442px;
  left: 60%;
  top: 120px;
}

.carousel-indicators {
  top: calc(100vh - 80px);
}
/*  */
.auto_video {
  height: 450px;
}

.content_auto_video {
  display: flex;
  gap: 30px;
}

.auto_left {
  width: 40%;
  text-align: left;
  margin-left: 10px;
}

.auto_left b {
  font-size: 14px;
}

.auto_left h1 {
  font-size: 32px;
}

.auto_left p {
  font-size: medium;
  text-align: left;
}

.auto_right img {
  width: 100%;
  height: 350px;
}
